@charset "UTF-8";

/* 전체 화면 사이즈*/
#wrap {
    width:650px;
    font-family: '고딕체';
    font-size: 17px;
}

/* 사진 사이즈 조정*/
#photo {
    width: 34%;
}




.jungwoo {
    text-align: right;
    font-size: 18px;
    font-weight: bold;;
}